<!DOCTYPE HTML>

<html>
	<head>
		<title>Alex England</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">
				<img src="static/images/profile_pic_circular.png" alt="Profile Picture" class="profile-pic">
				<h1>Alex England</h1>
				<p>A server hardware expert who's also proficient in Python</p>
			</div>

		<!-- Main -->
			<div id="main">

				<header class="major container medium">
					<h2>Constantly looking to improve
					<br />
					his skills in development
					<br />
					and datacenter hardware</h2>
				</header>

				<div class="box alt container">
					<section class="feature left">
						<a href="#" class="image icon solid"><img src="/static/images/dog_helpdesk.jpg" alt="" /></a>
						<div class="content">
							<h3>Getting started</h3>
							<p>My first IT job was an IT Intern at an insurance company in West Des Moines, IA in 2013. Where I learned about Active Directory and mangaging a Windows domain.</p>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image icon "><img src="/static/images/dog_airforce.jpg" alt="" /></a>
						<div class="content">
							<h3>3 Years later</h3>
							<p>I enlisted in the Air national guard and received training on electrical systems and server administration. Solidifying my foundation in IT and exposing me to network security and why it's important.</p>
						</div>
					</section>
					<section class="feature left">
						<a href="#" class="image icon solid"><img src="/static/images/dog_sys-ad.jpg" alt="" /></a>
						<div class="content">
							<h3>6 Years in to IT</h3>
							<p>I'm now working as a system administrator on an Air Force base responsible for managing several ESXi hosts and client stations can perform operations on an air-gapped network.</p>
						</div>
					</section>
					<section class="feature right">
						<a href="#" class="image icon solid"><img src="/static/images/dog_prod-ops.jpg" alt="" /></a>
						<div class="content">
							<h3>10 years in IT</h3>
							<p>I'm now a Production Operations engineer at Meta, troubleshooting large scale server problems, working with automation, and solving global problems affecting the fleet.</p>
						</div>
					</section>
				</div>
				<footer class="major container medium">
					<h3>What's next?</h3>
					<p>Continuing to gain new skills in engineering and development that I can bring to work with me and continue propeling my career forward.</p>
				</footer>

			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container medium">

					<header class="major last">
						<h2>Questions or comments?</h2>
					</header>

					<p>Always open for new opportunities! Don't hesitate to reach out if I can help you!</p>

					<form action="mailto:alternatemeatsack@gmail.com" method="post" enctype="text/plain"> <!--Make this smarter, this kind of sucks right now-->
						<div class="row">
							<div class="col-6 col-12-mobilep">
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="email" name="email" placeholder="Email" />
							</div>
							<div class="col-12">
								<textarea name="message" placeholder="Message" rows="6"></textarea>
							</div>
							<div class="col-12">
								<ul class="actions special">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
						</div>
					</form>

					<ul class="icons">
						<li><a href="https://github.com/meatsack-sudo" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<!-- Social Media icons I don't use
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						-->
					</ul>

					<ul class="copyright">
						<li>&copy; All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

				</div>
			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>